Package: opencv
Version: 3.2-0
Section: libs
Priority: optional
Architecture: armhf
Depends: libstdc++6, libgcc1, zlib1g, libjpeg8, libpng12-0, libjasper1, libjpeg62-turbo, libpython3.4, python3, python3-numpy, libgtk2.0-0
Maintainer: yo mama <yomama@yomama.com>
Description: OpenCV
 OpenCV 3.2 build for raspberry pi
